
@{
    ViewData["Title"] = "Game Over";
}

<div id="background-animation"></div>
<div class="game-over-container">
    <h1>Game Over</h1>
    <p>You have been defeated in the battle!</p>
    <a class="btn btn-primary" asp-action="Setup">Try Again</a>
</div>