@{
    ViewData["Title"] = "Victory";
}

<div id="background-animation"></div>
<div class="victory-container">
    <h1>Victory!</h1>
    <p>Congratulations! You have defeated your enemy!</p>
    <a class="btn btn-primary" asp-action="Setup">Play Again</a>
</div>
