@{
    ViewData["Title"] = "C# Quiz Battle";
}

<div id="background-animation"></div>
<div class="welcome-container">
    <h1>Prepare for the Ultimate C# Quiz Battle!</h1>
    <p>Test your coding skills and emerge victorious in this epic showdown. Are you ready?</p>
    <a class="btn btn-primary" asp-controller="Game" asp-action="Index">Enter the Arena</a>
</div>

<link rel="stylesheet" href="~/css/styles.css">
<script src="~/js/animatedBackground.js"></script>
